@import './themes.css';

@font-face {
  font-family: "Nunito";
  src: url('~/assets/font/Nunito.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-primary);
  color: var(--txt-primary);
}

#__nuxt {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100svh;
}

main {
  flex: 1;
  padding: 2rem;
}

@media only screen and (max-width: 600px) {
  main {
    padding: 0;
  }
}