@import './themes.css';

@font-face {
  font-family: "Nunito";
  src: url('~/assets/font/Nunito.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-primary);
  color: var(--txt-primary);
}